@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&family=PT+Sans:ital@0;1&family=Quintessential&family=Reenie+Beanie&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

/* Set core body defaults */
body {
  /*min-height: 100vh;*/
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Comfortaa', cursive;
  background: #161515;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  /*  max-width: 100%;*/
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  /* .header__wrap */
  /*.header__wrap-active*/
  /* .header__item */
  /* .header__logo-il */
  /* .header__logo-text */
  /* .header__button */
  /* .header__stick */
  /* .header__button-active */
}
.header__wrap {
  z-index: 10;
  width: 360px;
  height: 80px;
  background: #FFF;
  border-radius: 10px;
  display: flex;
  position: relative;
  margin: 40px auto;
}
.header__wrap-active {
  background: #AB2D2D;
  position: fixed;
  left: 0;
  right: 8px;
}
.header__wrap-active .header__item {
  color: #fff !important;
}
.header__wrap-active .icon-jo:before {
  color: #fff !important;
}
.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__logo-il {
  position: absolute;
  left: 5%;
}
.header__logo-text {
  width: 30px;
  font-family: Reenie Beanie, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.header__button {
  cursor: pointer;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__button span {
  width: 25px;
  margin: 0 auto;
  top: 40%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000;
  display: block;
  content: "";
  position: absolute;
  transition: .5s ease;
}
.header__button span:before {
  width: 15px;
  height: 1px;
  background-color: #000;
  display: block;
  content: "";
  position: absolute;
  transition: .5s ease;
  top: 12px;
}
.header__button:hover span:before {
  width: 25px;
}
.header__button-active .header__stick {
  background-color: #fff;
  transform: rotate(45deg);
  top: 50% !important;
}
.header__button-active .header__stick:before {
  background-color: #fff;
  transform: rotate(-90deg);
  width: 25px !important;
  top: 0 !important;
}

.icon-jo:before {
  color: #000;
  font-size: 60px;
}

.footer {
  border-top: 1px solid #fff;
  /* .footer__wrap */
  /* .footer__item */
  /* .footer__title */
  /* .footer__nav */
  /* .footer__link */
  /* .footer__c */
}
.footer__wrap {
  width: 980px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  justify-content: space-between;
  margin: 45px auto;
}
.footer__item:last-child {
  display: grid;
}
.footer__title {
  font-family: Kelly Slab, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__nav {
  margin-top: 35px;
}
.footer__link {
  display: block;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: lowercase;
  transition: .5s ease;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.footer__link:hover {
  color: #9e9393;
}
.footer__c {
  justify-self: end;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: lowercase;
  color: #FFFFFF;
  align-self: end;
}

.contacts-active {
  display: block !important;
}

.contacts {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  top: 0;
  position: fixed;
  z-index: 8;
  /* .contacts__wrap */
  /* .contacts__item */
  /* .contacts__title */
  /* .contacts__img */
  /*.contacts__mask-img*/
  /* .contacts__nav */
  /* .contacts__li */
  /* .contacts__icon */
  /* .contacts__link */
}
.contacts__wrap {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 900px;
  height: 470px;
  margin: 180px auto;
  border-top: 2px solid #AB2D2D;
  border-bottom: 2px solid #AB2D2D;
}
.contacts__item:last-child {
  border-right: 2px solid #AB2D2D;
  border-left: 2px solid #AB2D2D;
}
.contacts__title {
  font-family: Kelly Slab, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  color: #AB2D2D;
  margin-top: 15px;
}
.contacts__img {
  position: relative;
  margin-left: 40px;
  margin-top: 40px;
}
.contacts__mask-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
}
.contacts__nav a:first-child li {
  border-top: none;
}
.contacts__nav a:hover li {
  background-color: #AB2D2D;
}
.contacts__nav a:hover li .contacts__icon:before {
  color: #fff !important;
}
.contacts__nav a:hover li .contacts__link {
  color: #fff !important;
  transform: translateX(-15px);
}
.contacts__li {
  overflow: hidden;
  position: relative;
  border-top: 1px solid #AB2D2D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  transition: .5s ease;
}
.contacts__li span {
  font-size: 23px;
  margin-left: 15px;
}
.contacts__icon:before {
  transition: .5s ease;
  color: #AB2D2D !important;
}
.contacts__link {
  transition: .5s ease;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  color: #000;
  margin-right: 15px;
}

.display-active {
  display: none;
}

/*active*/
.gallery {
  /*&__item__active{
    width: 100% !important;
    height: 100vh !important;
  }*/
}
.gallery__img__active {
  transition: 1s ease !important;
  position: fixed !important;
  width: 80% !important;
  height: 90vh !important;
  margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 100 !important;
  top: 5% !important;
}
.gallery__img__active .portfolio__content-bcg {
  display: none;
}
.gallery__active {
  cursor: pointer;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: #000000e3;
  top: 0;
}
.gallery__blur {
  left: 0;
}

.entrails__active {
  cursor: pointer;
  width: 100%;
  position: fixed;
  z-index: 1000;
  height: 100vh;
  top: 0;
  left: 0;
}

.active__background {
  opacity: .4;
}

/*.active__background2{
  width: 95%;
}*/
@keyframes circleRotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
